<% title 'Welcome' %>
<% body_class 'home' %>


<div class="tag">
	<h1>Jason Soo - developer & entrepreneur</h1>
	<h2>Developing web apps for 5+ years</h2>
</div>


<div class="left_col">
	<h3>About me</h3>
	<p>I'm a masters student at the <%= link_to "Illinois Institute of Technology", "http://www.iit.edu" %>, majoring in Computer Science with a focus in <%= link_to "Information Retrieval", "http://en.wikipedia.org/wiki/Information_retrieval" %>.  I will be graduating in May 2010.  From there, I will work/freelance for a year, then enter the PhD program at <%= link_to "Georgetown University", "http://www.georgetown.edu/" %>.  (<%= link_to "more", about_me_path %>)</p>
</div>

<div class="right_col">
	<%= link_to image_tag("its.jpg"), "http://www.ignitethespirit.org" %><h3>My recent <%= link_to "creations", "#" %></h3>
	<p>Ignite The Spirit is a non-profit organization to help the families of Chicago Fire Fighters who find themselves in dire need.  Featured on WGN, NBC, and Fox chicago affiliates.<br />
		<%= link_to "Ignite The Spirit", "http://www.ignitethespirit.org" %>
	</p>
	
	<div style="height: 20px; clear: both;"></div>
	<div class="hr_line"></div>
	<div style="height: 20px; clear: both;"></div>
	
	<%= link_to image_tag("vividsounds.jpg"), "http://www.vividsounds.com" %><h3>My <%= link_to "business", "http://www.vividsounds.com" %></h3>
	<p>A unique way to connect those holding a party, wedding, etc. with those who can make it a memorable - musicians, florists, etc.  Search by location, read reviews, and have vendors bid to work for you.<br />
		<%= link_to "ViViD Sounds", "http://www.vividsounds.com" %>
	</p>
</div>
