<html>
	<head>
		<title><%= yield :title %> - soSoo.me</title>
		<%= stylesheet_link_tag "style.css"%>
	</head>
	<body class="<%= yield(:body_class) %>">
		
		<div id="wrapper">
		
			<div id="header">
				<%= link_to image_tag("logo.png", :id => 'logo'), root_path %>
				<div id="header_links">
					<%= link_to 'About me', about_me_path %> - 
					<%= link_to 'Portfolio', '#' %> - 
					<%= link_to 'Resume', '/cv.pdf' %> - 
					<%= link_to 'Publications', publications_path %> - 
					<%= link_to 'Blog', "http://wwwjscom.blogspot.com/" %> - 
					<a href="http://www.twitter.com/jsoo"><img style="float: right; margin: -20px 0 0 5px;" src="http://twitter-badges.s3.amazonaws.com/t_small-b.png" alt="Follow jsoo on Twitter"/></a>
				</div>
			</div>
			
			<div class="hr_line"></div>
		
		
			<div id="content">
				<%= yield %>			
			</div>
		
		</div>
		
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-3590983-13");
        pageTracker._trackPageview();
        } catch(err) {}</script>
	</body>
</html>
